* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }
 canvas {
    max-width: 100%;
}
 
 /* front style*/
 body {
    font-family: 'Open Sans', sans-serif;
 }
 h1, h2, h3 {
    font-weight: bolder;
    color: black;
}
 
 /* Grid Container*/
 .grid-container {
    display:grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main";
}

 /*  Header*/
 
 header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #7477bf;
    color: #fff;
    padding: 25px 10px;
 }
 header svg {
    width: 15px;
    fill: #f2f2f2;
 }
 .header-left,.header-right {
    display: flex;
    align-items: center;
}
/*header-left*/
.header-left{
    font-size: 20px;
    font-weight: 600;
 }
 .header-left sup {
    font-weight: 100;
}
/*header-right*/
.header-right{
    justify-content: flex-end;
    
 }
 .header-right img {
    display: inline-block;
    border-radius: 50% ;
    max-width:35px;
    max-height:55px;
    margin:auto 10px
 }
 .header-right h3{
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
}

 /* bell container*/
 .bell-container{
    position: relative;
    margin-right: 10px;
    top:5px;
}
.bell-container svg:hover {
    background: red;
    transition-duration: .5s;
}
.indicator {
    width:8px;
    height:8px;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    background-color: #90EE90;
    top: -5px;
    left: 18px;
}

/* collect class items*/
 .traffic,
 .daily,
 .mobile,
 .social-data,
 .members-container,
 .active-container,
 .message {
     border-bottom: 2px solid #ccc;
     padding:10px
 }
 /* Navigation*/
 nav{
    grid-area: nav;
    display:flex;
    justify-content: space-evenly;
    background-color: #4d4c72;
}
nav img{
    width:30px;
    height:45px;
    margin:auto;
    filter: invert(1);
    padding-top: 10px;
	padding-bottom: 5px;
}


/* Main Dashboard*/
main {
    grid-area: main;
    justify-content: center;
}
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard{
    padding: 15px;
    font-weight: bold;
    
  
}
.tab {
    flex-grow: 1;
    height: 50px;
    background-color:#f7f7f7;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc; 
}

/*Alert */
.alert-banner {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#7477bf;
    color:#fff;
    padding:10px;
    margin:15px;
    border-radius: 5px;
    font-size: 14px;
}


/*  Line Graphs  */
.traffic-nav {
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    list-style: none;
    margin-top: 10px;
    font-weight: bold;
}
.traffic-nav li:first-child {
    background-color:#90ee90;
    color:#fff;
    font-weight: 600;
    /*padding : 7px;*/
    border-radius: 5px;
}
/*Doughnut chart*/
.mobile h3{
    padding:20px auto;
    margin-bottom: 20px;
}

/* Social Status*/
.social {
    display: flex;
    background:#edebf2;
    border:1px solid #c7c7c7;
    border-radius:10px;
    margin:3%;
}
.social-image {
    display:inline-flex;
    flex-direction: row;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto 5%;
    background-color:  #8e8adb;
    
    
}
.social-image img {
    filter: invert(1);
    padding: 15px;
   
   
}
.social-text {
  text-align: center;
}
.social-text p:first-child {
    color: #8e8adb;
    font-size: 14px;
    font-weight:bold;
}
.social-text p:nth-child(2) {
    color:#6f707a;
    font-size:28px;
    font-weight: bold;
}

/* New Members with some Recent active*/
 .members, .active h3 {
     padding:10px;
 }
.members img {
    border-radius: 50%;
    height:60px;
}
.members-text p:first-child{
    font-weight: bold;
    color: #000;
}
.members-container p {
    font-weight: bold;
    color: #000;
}
.members-text a {
    text-decoration: none;
}
.members-text {
    display: flex;
    flex-direction: column;
    color:black;
    font-size: 14px;
    
}
.members-container, .active-container {
    text-align: center;
}
.members-text, .active-text {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color:#000
}
/*Recent Active*/
.active-container img {
    border-radius: 50%;
    height:60px;
}
.active-text strong {
    font-weight: bold;
    color: #000;
}

/*Message Widget*/
.form {
    display:flex;
    flex-wrap: wrap;
}
.form > * {
    flex-basis:100%;
}
.form-field, .form-area, .button-send {
    border:2px solid #c7c7c7;
    margin:10px auto;
    padding:10px;
    font-size: 14px;
    border-radius: 5px;
}
.form-field {
    background-color: #edebf2;
    color:#c7c7c7;
}
.form-area{
    background-color: #edebf2;
    color:#c7c7c7;
    height:10rem;
}
.button-send{
    background-color: #8e8adb;
    color: #f3f2f7;
}
/* Local setting widget*/
.setting {
    margin:initial;
}
.setting h3{
    padding:10px;
}
 .switch-light, .switch-ios{
    display:flex;
    flex-wrap: wrap;
    min-width: 100%;
    text-align: center;
    margin:10px 0;
}
 .switch-light, .switch-ios span {
    flex-basis: 100px;;
}
.switch-light, .switch-ios strong{
    flex-basis: 200px;
    text-align: left;
    margin-left:5px;
}
.switch-light, .switch-ios input:checked ~ span {
    border-color: #8e8adb;
    box-shadow: insert 0 0 0 30px #8e8adb;
}
.switch-light, .switch-ios input:checked ~ span a{
    border-color:#8e8adb;
}
.form-field {
    width: 100%;
}
.settings-button {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}
.button-save, .button-cancel {
    background-color: #8e8adb;
    color:#fff;
    height: 45px;
    border:1px solid #c7c7c7;
    border-radius:10px;
    font-size: 16px;
}
.button-cancel {
    background-color: #cacbdb;
}

.daily, .mobile, .social-data {
	padding: 10px 0 10px 15px;
	
}


 /*@Media Query Min-Width(768)*/
 @media (min-width: 768px){
     .grid-container{
         grid-template-columns: 55px 1fr;
         grid-template-rows: auto;
         grid-template-areas: 
         "header header"
         "nav main";
     }
    
     header {
         grid-area: header;
     }
    /*---- Nav Bar ----*/
     nav {
         grid-area: nav;
     }
    
    nav{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
     main {
        grid-area: main;
         display: grid;
         grid-template-columns:50%;
     }
     /*100% Width column*/
     .dashboard-header,
     .alert,
     .traffic,
     .traffic-header,
     .social-data,
     .members,
     .active,
     .message,
     .setting {
        grid-column: 1 / span 2;
     }

     /*50% width left column*/
     .daily {
        grid-column: 1 / span 1;
     }
     /*50% width right column*/
     .mobile {
        grid-column: 2 / span 1;
     }
     .social-data{
         grid-column: repeat(200px, 3);
     }
     /*--- setting ----*/
     /*.switch-light, .switch-ios strong {
         text-align: left;
     }*/

}
/* media Query Min-width(1024px)*/
/*@media (min-width: 1024px) {
    .grid-container{
        grid-template-columns: 55px 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header"
        "nav main main";
    }
    /*Class Parents*/
    .dashboard,
    .alert,
    .traffic,
    .traffic-header {
        grid-column: 1 / span 3;
    }
    .social {
        display:flex;
        flex-basis: 200px;
    }
    

    
}*/